/*Index Page Style Sheet*/
@import url('https://fonts.googleapis.com/css?family=Cantarell');
*{
    box-sizing: border-box;
    font-family: Cantarell;
    color:azure;
    margin: .7em;
    padding: 0;
}

@keyframes animation{
    from{opacity:0;}
    to{opacity: 1;}
}

#wrapper > * {
    transition: 1.5s;
  }
  
  .fadeOut {
    opacity: 0;
  }

#wrapper{
    animation-name: animation;
    animation-duration: 4s;
}


h1{
    font-size: xx-large;
}

h3{
    font-size: 1.2rem;
    font-weight: bold;
}

body{
    background: url(./images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

#aboutme,
article,
#main,
#projects,
#wrapper{
    min-height: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2,
h3,
hr,{
    margin: .2rem;
}

#aboutme,
#main,
#projects{
    background: rgba(0, 0, 0, 0.7);
    width: 100vw;
    max-width: 98.5vw;
}

p{
    max-width: 75vw;
    text-align: center;
}
td{
    padding: 1rem;
}

#image1{
    height: 20rem;
    border-radius: 5%;
    box-shadow: 5px 5px 5px black;
}

a{
    text-decoration: none;
    color: white;
    list-style-position: inside;
    border: 1px solid transparent;
    border-radius: 5px;
}

a:hover{
    list-style-position: inside;
    border: 1px solid white;
    transition: 500ms;
}

hr{
    size: 2px;
    width: 25vw;
}

h2{
    margin: 0;
}
#hr1{
    margin: 0;
    width: 10vw;
}

footer{
    font-size: small;
}

#skills{
    display: grid;
    width: 25vw;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    align-items: center;
    justify-content: center;
}

#nav-button{
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#nav-button:hover{
    color: cadetblue;
}

#collapsible {
    background-color: black;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 75vw;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    margin: 0;
    width: 50vw;
    opacity: .9;
    border-radius: 5px;
  }

.active, #collapsible:hover {
  background-color: darkslategray;
}

#bio {
    padding: 0 18px;
    overflow: hidden;
    background-color: darkslategray;
    height: 0;
    margin: 0;
    width: 50vw;
    opacity: .9;
    border-radius: 5px;
  }

.BIO{
    transition: max-height .75s;
}